*.[oa]
*.exe
*.in
*.so
*.sw?
Makefile
a.out
aclocal.m4
autom4te.cache/
confdefs.h
config.log
config.status
configure
openitg
src/.deps/
src/Makefile
src/archutils/Unix/verinc
src/config.h
src/version.bin
src/verstub.cpp
