*.[oa]
*.exe
*.so
*.sw?
a.out
openitg
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
src/.deps/
src/Makefile
src/Makefile.in
src/archutils/Unix/verinc
src/config.h
src/config.h.in
src/version.bin
src/verstub.cpp
